<h2>修改约饭信息</h2>
<%= simple_form_for @post do |f| %>

  <div class="group">
    <%= f.input :title, label: '主题' %>
  </div>

  <div class="group">
    <%= f.input :description, label: '详细信息' %>
  </div>

  <%= f.submit "提交", class: "btn btn-default", data: { disable_with: "Submitting..." } %>

<% end %>
