<table table="table table-bolder">
    <thead>
        <th>
            <td>#</td>
            <td>约饭主题</td>
            <td>约饭内容</td>
        </th>
    </thead>

    <tbody>
        <th>
            <td><%= @post.title %></td>
            <td><%= @post.description %></td>
        </th>
    </tbody>
</table>
