<table class="table-boldered table-hover">
    <thead>
        <tr>
          <th>约饭主题</th>
          <th>约饭内容</th>
        </tr>
    </thead>

    <tbody>
        <th>
            <td><%= @post.title %></td>
            <td><%= @post.description %></td>
        </th>
    </tbody>
</table>
